@{
    //ViewBag.Title = "Contact";
    ViewData["Title"] = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    48 Alpha Grove<br />
    London, E14 8LH<br />
    <abbr title="Phone">P:</abbr>
    07472 895 509
</address>

<address>
    <strong>Support:</strong>   <a href="kirildobrev919@gmail.com">kirildobrev919@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="kirildobrev919@gmail.com">kirildobrev919@gmail.com</a>
</address>